body {margin: 0; font-family: Arial; }
nav {
  position: fixed;
  width: 100%;
  max-width: 300px;
  bottom: 0; top: 0;
  display: block;
  min-height: 300px;
  height: 100%;
  color: #fff;
  transition: all 300ms;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
}
nav .vertical-menu hr{opacity: 0.1; border-width: 0.5px;}
nav ul{width: 90%; padding-inline-start: 0; margin: 10px; height: calc(100% - 20px); }
nav .vertical-menu-logo{padding: 20px; font-size: 1.3em; position: relative}
nav .vertical-menu-logo .open-menu-btn{width: 30px; height: max-content; position: absolute; display: block; right: 20px; top: 0; bottom: 0; margin: auto; cursor: pointer;}
nav .vertical-menu-logo .open-menu-btn hr{margin: 5px 0}
nav li{ 
  list-style: none;
  padding: 0px 0px; 
  cursor: pointer;
  padding-right: 0px;
}
nav li:hover{ color: rgba(75, 105, 176,1); }
nav li#user-info{position: absolute; bottom: 0; width: 80%;}
nav li#user-info > span{display: block; float: right; font-size: 0.9em; position: relative; opacity: 0.6;}
nav li#user-info > span:after{
  content: '';
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  background: green;
  left: -20px; top: 0; bottom: 0;
  margin: auto;
  border-radius: 50%;
}
.content-wrapper{
  width: calc(100% - 300px);
  height: 100%;
  position: fixed;
  background: #eaeaea;
  left: 300px;
  padding: 20px;
}
.closed-menu .content-wrapper{
  width: 100%;
  left: 50px;
}
.content-wrapper{
    transition: all 300ms;
}

/* #vertical-menu-wrapper {
  background: #2D333B;
} */

.vertical-menu-wrapper-add {
  box-shadow: 1px 0px 5px #000;
  background: #2D333B;
  z-index: 100;
}

.vertical-menu-wrapper .vertical-menu-logo div{transition: all 100ms;}
.closed-menu .vertical-menu-wrapper .vertical-menu-logo div{
  margin-left: -100px;
}
.vertical-menu-wrapper .vertical-menu-logo .open-menu-btn{transition: all 300ms;}
.closed-menu .vertical-menu-wrapper .vertical-menu-logo .open-menu-btn{
  left: 7px;
  right: 100%;
}

.closed-menu .vertical-menu-wrapper ul,.closed-menu .vertical-menu-wrapper hr{margin-left: -300px;}
.vertical-menu-wrapper ul, .vertical-menu-wrapper hr{transition: all 100ms;}
.content-wrapper{background: #ebebeb;}
.content{
  width: 90%;
  min-height: 100%;
  background: #eaeaea;
  border-radius: 10px;
  padding: 30px;
}

/* Add */
nav .vertical-menu li a {
  padding: 10px;
  font-size: .8em;
  display: block;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
}

.ocultar-menu{
  display: none;
}
 #menu{
  padding-top: 40px;
 }
#icon-menu{
  color: #ffcd00;
  font-size: 1.6em;
}

.padding-menu {
  padding-bottom: 62px;
}

.pocicionar-icono-menu {
  top: 20px !important;
  left: 310px !important;
}
/* Font Awesome */

.pull-right {
  float: right;
}

.cerrarSesion:hover {
  color: none !important;
}

.move-menu{
  left: -300px;
}


