
.search{
    margin: 8px 0px 8px;
    background-color: #fff !important;
    box-shadow: 0px 0px 3px -0.4px #c1b9b9 !important;
    border-radius: 0px 50px 50px 0px !important;
    border: 0px !important;
}

.buscador{
    margin-top: 40px !important;
}

.buscar-unidad{
    text-align: center;
    box-shadow: -2px 0px 3px -0.4px #c1b9b9 !important;
    border-radius: 50px 0px 0px 50px !important;
}

.selectCedis{
    box-shadow: -2px 0px 3px -0.4px #c1b9b9 !important;
    border-radius: 50px 50px 50px 50px !important;
}